.container-fluid {
    width: 100%;
    padding: 0px 0px ;
}

.bg-global {
    background-color: rgb(45, 160, 162) !important;
}

a{
    text-decoration: none;
    color: #373737 !important;
}
a:hover{
    text-decoration: none !important;
}

p{
    padding: 0 !important;
    margin: 0 !important;
}
ul{
    padding: 0 !important;
    margin: 0 !important;
}
.global-text {
    color: rgb(45, 160, 162);
}

.text-black{
  color: black !important;
}



/* ------------------------ breadcrum ----------------- */

ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    background-color: transparent;
  }
  ul.breadcrumb li {
    display: inline;
    font-size: 16px;
    font-weight: 400;
  }
  ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
  }
  ul.breadcrumb li a {
    color: #209fa1;
    text-decoration: none;
  }
  ul.breadcrumb li a:hover {
    color: #101010;
    text-decoration: underline;
  }

  
  .display-flex-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
  }